#manage_video_container {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.page_title {
    margin-bottom: 40px;
}

.manage_video_table {
    border-top: 1px solid gray;
    border-radius: 10px;
}