.mainBody {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: rgb(221, 221, 221);
    position: relative;
    box-sizing: border-box;
}

.menubar {
    width: 13%;
    background-color: rgb(255, 255, 255);
    height: 98%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-left: 10px;
    transition: 0.2s all ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.a-menu-item {
    height: 50px;
    position: relative;
    transition: 0.3s all ease-in-out;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.a-menu-item:hover {
    background-color: rgb(219, 219, 219);
}

.a-menu-item-subitem-toggle {
    position: absolute;
    right: 0;
    transition: 0.3s all ease-in-out;
}

.submenu {
    max-height: 0;
    /* Start closed */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    /* Smooth transition */
}

.a-menu-item-child {
    height: 50px;
    position: relative;
    transition: 0.3s all ease-in-out;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
    background-color: rgb(228, 228, 228);
    margin-top: 5px;
    margin-bottom: 5px;
}

.a-menu-item-child:hover {
    background-color: rgb(180, 180, 180);
}

.menu-item {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.menu-item-text {
    margin: 0;
    padding-bottom: 2px;
    padding-left: 10px;
    font-weight: 500;
    display: block;
}

#mainContent {
    width: 86%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgb(221, 221, 221);
    position: absolute;
    right: 0;
    transition: 0.2s all ease-in-out;
    overflow: hidden;
}

.mainContentActualPortion {
    width: 98%;
    height: 98%;
    position: absolute;
    right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.mainContentActualPortionChild {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* .mainContentActualPortionChild::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.mainContentActualPortionChild::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.mainContentActualPortionChild::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
} */