.a_custom_menu_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_menu{
    width: 20rem;
    height: 100vh;
    padding: 0.5rem;
}

.custom_menu_item{
    margin-bottom: 1rem;
}

.menu_icons{
    width: 1.7rem;
}

.menu_item_text{
    color: var(--white);
    padding-left: 1rem;
}

.menu_item_expand_icon{
    color: white;
    transition: 0.3s all ease-in-out;
}

.menu_item_expand_icon.rotated {
  transform: rotate(180deg);
}

.sub_item{
    margin-left: 2rem;
}