.main_content{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.custom_menu{
    width: 18rem;
    height: 100vh;
    /* padding: 0.5rem; */
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.custom_menu_container{
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
}

.a_custom_menu_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_menu_item{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.menu_icons{
    width: 1.4rem;
}

.menu_item_text{
    color: var(--white);
    padding-left: 1rem;
}

.menu_item_expand_icon{
    color: white;
    transition: 0.3s all ease-in-out;
}

.menu_item_expand_icon.rotated {
  transform: rotate(180deg);
}

.sub_item{
    margin-left: 2rem;
}

.custom_body {
  width: calc(100vw - 20rem);
  height: 100vh;
  transition: 0.3s all ease-in-out;
}