<div class="alert-container p-0" style="width: 600px; max-width: 100%;">
  <div class="alert-content">
    <h2 id="alert_header" class="p-3" id="alert_header" style="background-color: var(--light);">{{
      data.title }}</h2>
    <mat-dialog-content id="alert_body" style="margin-bottom: 4rem;" class="text_style" [innerHTML]="formattedText"></mat-dialog-content>

    <svg *ngIf="data.type === ResponseTypeColor.SUCCESS" class="alert-svg success-svg" viewBox="0 0 24 24">
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" />
    </svg>

    <svg *ngIf="data.type === ResponseTypeColor.WARNING" class="alert-svg warning-svg" viewBox="0 0 24 24">
      <path d="M12 2L1 21h22L12 2zm0 3.5L18.5 19h-13L12 5.5z" />
      <path
        d="M12 16c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-4c.55 0 1-.45 1-1V8c0-.55-.45-1-1-1s-1 .45-1 1v3c0 .55.45 1 1 1z" />
    </svg>

    <svg *ngIf="data.type === ResponseTypeColor.ERROR" class="alert-svg error-svg" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
    </svg>

    <svg *ngIf="data.type === ResponseTypeColor.INFO" class="alert-svg info-svg" viewBox="0 0 24 24">
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v2h-2zm0 4h2v6h-2z" />
    </svg>

    <mat-dialog-actions class="alert-actions m-3">
      <button id="alert_button_element" class="{{buttonClass}}" mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
</div>


<!-- To call this component from another component
=========================================================================

another.component.ts
--------------------------------------------------
import { Component, inject } from '@angular/core';
import { MatDialog } from '@angular/material/dialog';
import { CustomAlertComponent } from '../../../common-component/custom-alert/custom-alert.component';
import { ResponseTypeColor } from '../../../constants/commonConstants';

@Component({
  selector: 'app-another',
  imports: [],
  templateUrl: './another.component.html',
  styleUrl: './another.component.css'
})

readonly dialog = inject(MatDialog);

openDialog(dialogTitle: string, dialogTextL: string, dialogType: number): void {
    const dialogRef = this.dialog.open(CustomAlertComponent, {data: { title: dialogTitle, text: dialogTextL, type: dialogType}});
}

=========================================================================
-->