.custom_table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    table-layout: auto;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.custom_tablehead {
    height: 4rem;
    background-color: rgb(85, 85, 85);
}

.custom_tablehead_cell {
    text-align: center;
    color: white;
    padding: 10px;
    white-space: nowrap;
}

.custom_tablebody_row {
    height: 6rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.custom_tablebody_cell {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    height: 6rem;
}

.video_cell {
    width: 10%;
    background-image: url("../../../../public/Images/default_thumbnail.png");
    position: relative;
}

.video_cell img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    cursor: pointer;
}

.custom_table_video_thumbnail {
    width: 100%;
    height: 100%;
}

.video_title_cell {
    width: 55%;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    cursor: pointer;
}

.video_visibility_cell {
    width: 10%;
}

.video_uploaded_at_cell {
    width: 10%;
}

.video_processing_status_cell {
    width: 10%;
}

.video_action_cell {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.download_logo {
    width: 20px;
    cursor: pointer;
}

.edit_logo {
    width: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.delete_logo {
    width: 18px;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    float: right;
}

.pagination span {
    font-size: 0.9rem;
    margin-right: 10px;
}

.custom_table_pagination_arrow {
    margin: 0 10px;
    cursor: pointer;
}

.nothing_to_show {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 1rem;
}