<!-- <app-alert-modal 
  *ngIf="showAlertModal"
  [headerText]="headerTextOfAlertModal"
  [bodyText]="bodyTextOfAlertModal"
  [alertColor]="colorOfAlertModal"
  (close)="closeAlertModal()">
</app-alert-modal> -->

<form class="file-upload-form">
  <label class="drop-container" id="dropcontainer">
    <span *ngIf="fileNotUploaded" class="drop-title">Drop video files here</span>
    <span *ngIf="fileNotUploaded" class="drop-or-text">or</span>
    <input *ngIf="fileNotUploaded" type="file" accept="video/*" (change)="handleVideoUpload($event)" required />

    <div *ngIf="!fileNotUploaded" class="uploading-percentage-text">
      <h1 *ngIf="!videoUploadSuccess" class="uploading-text"></h1>
      <h1 *ngIf="videoUploadSuccess">Uploaded</h1>
      <h1>&nbsp;({{progress}}%)</h1>
    </div>

    <div *ngIf="progress > 0" class="upload_progress_bar">
      <div class="progress_bar_container">
        <div class="upload_progress" [style.width.%]="progress"></div>
      </div>
    </div>
  </label>
</form>

<div class="title">
  <span>Title<span class="required_color">*</span></span>
  <div class="input-container">
    <input type="text" class="upload_input upload_normal_input" id="video_title" [maxLength]="maxCharacterTitle" [(ngModel)]="newVideoTitle" name="title" />
    <span id="charCountTitle">{{newVideoTitle.length}}/{{maxCharacterTitle}}</span>
  </div>
</div>

<div class="description">
  <span>Description<span class="required_color">*</span></span>
  <div class="input-container">
    <textarea class="upload_input upload_textarea" rows="10" id="video_description" [maxLength]="maxCharacterDescription" [(ngModel)]="newVideoDescription" name="description"></textarea>
    <span id="charCountDescription">{{newVideoDescription.length}}/{{maxCharacterDescription}}</span>
  </div>
</div>

<div class="thumbnail_and_save">
  <label class="drop-container-thumbnail" id="dropcontainer">
    <span *ngIf="!thumbnail" class="drop-title">Drop thumbnail here</span>
    <span *ngIf="!thumbnail" class="drop-or-text">or</span>
    <input *ngIf="!thumbnail" type="file" accept="image/*" (change)="thumbnailSave($event)" required />
    <span *ngIf="thumbnail" class="drop-filename-text">{{thumbnailName}}</span>
    <span *ngIf="thumbnail" class="remove_thumbnail_btn">
      <img src="assets/remove-file.svg" class="menu-icons" (click)="removeThumbnail($event)" />
    </span>
  </label>

  <div class="video_right_side_buttons">
    <div class="video_publicity_switch_container">
      <span class="video_publicity_name">Private</span>
      <div class="video_publicity_switch" (click)="handleVideoStatusToggleSwitch()">
        <div [id]="'video_status_toggle'" [ngClass]="{'toggle-right': videoPublicityStatus === 1}"></div>
      </div>
      <span class="video_publicity_name">Public</span>
    </div>

    <button *ngIf="videoUploadSuccess" class="video-save-button" (click)="saveVideoInfo()">Save</button>
  </div>
</div>
