.video_player_container {
    width: 80rem;
    height: 100%;
    margin: 0 auto;
}

#video_player {
    width: 80rem;
    height: 45rem;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.processing_error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.video_player_info {
    display: flex;
    flex-direction: column;
}

.video_player_info_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.video_player_info_title {
    font-size: 20px;
    font-weight: 600;
}

.video_player_info_header_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.video_player_info_channel_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.video_player_info_channel_info img {
    width: 40px;
}

.video_player_info_channel {
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}

.video_player_info_action {
    display: flex;
    flex-direction: row;
}

#video_player_info_action_like,
#video_player_info_action_dislike,
#video_player_info_action_share {
    background-color: rgb(210, 210, 210);
    margin-left: 5px;
    width: 80px;
    height: 40px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}

.video_player_info_action img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
}

.video_player_info_description {
    font-size: 16px;
    margin-top: 20px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 10px;
}