<div class="container-fluid">
  <div class="video-wrapper w-75 p-0 m-0 mb-2">
    <div class="video-border">
      <app-custom-video-player [guid]="guid" [video_info]="video_info"></app-custom-video-player>
    </div>
  </div>

  <div class="w-75">
    <div class="d-flex justify-content-between align-items-center like_dislike_title_div">
      <span class="fs-5 fw-bold color_custom">{{ video_info.title }}</span>
      <div>
        <button class="like_dislike_button me-2" matTooltip="Like" matTooltipPosition="below"
          matTooltipClass="custom-tooltip">
          <fa-icon [icon]="faHeart" class="me-2 like-icon"></fa-icon>
          Like
        </button>
        <button class="like_dislike_button" matTooltip="Dislike" matTooltipPosition="below"
          matTooltipClass="custom-tooltip">
          <fa-icon [icon]="faHeartCrack" class="me-2 dislike-icon"></fa-icon>
          Dislike
        </button>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <fa-icon [icon]="faCircleUser" class="me-2 fa-2x"></fa-icon>
      <span class="p-0 m-0 color_custom me-2">{{video_info.channel}}</span>

      <button class="btn btn-secondary btn-sm" matTooltip="Subscribe" matTooltipPosition="above">Join</button>
    </div>

    <div class="description_style p-2 mt-2">
      <span class="d-flex justify-content-end color_custom">Uploaded at : {{ video_info.trans_datetime }}</span>
      <br>
      <span *ngIf="video_description.length<=200" class="color_custom">{{ video_description }}</span>
      <span *ngIf="video_description.length>200" class="color_custom">{{ video_description
        }} <span class="show_more_font cursor_pointer"
          (click)="ShowMoreDescription()">{{video_description_show_text}}</span></span>
    </div>
  </div>
</div>